<footer>
    
    <div id="legalInfo">
        © 2020 Karl-Erik Kald. All Rights Reserved. <br>
        <a href="https://api.thevirustracker.com/free-api?countryTimeline=EE">Powered by the Virustracker API</a>
    </div>
</footer>