<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><h1><a class="<%= path === '/' ? 'active' : '' %>" href="/">Kald's BitCoin Calculator</a></h1></li>
            <li class="main-header__item"><h1><a class="<%= path === '/' ? 'active' : '' %>" href="/">Return</a></h1></li>
        </ul>
    </nav>
</header>